@charset "utf-8";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat");

// Brand colours
$primary: #2e3c4f;
$info: #7c6748;
$light: white;

$screen-sm: 768px;

// Colours overrides
$family-sans-serif: "Montserrat", sans-serif;

// Navbar
$navbar-background-color: $primary;
$navbar-item-img-max-height: 2.5rem;
$navbar-item-color: $light;
$navbar-item-hover-color: $light;
$navbar-item-active-color: $light;
$navbar-item-hover-background-color: $info;
$navbar-item-active-background-color: $info;
$navbar-dropdown-background-color: $info;
$navbar-dropdown-item-active-background-color: $info;
$navbar-dropdown-item-hover-background-color: $info;

// Bottom Navbar
$tabs-link-color: grey;
$tabs-link-hover-color: $light;
$tabs-link-active-color: $light;
$tabs-toggle-link-border-width: 0px;
$tabs-toggle-link-hover-background-color: $primary;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-color: $light;

@import "../../../node_modules/bulma/bulma.sass";

// All

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.has-background-primary-faded {
  background-color: rgba($color: $primary, $alpha: 0.7);
}

.has-background-info-faded {
  background-color: rgba($color: $info, $alpha: 0.7);
}

.has-background-white-faded {
  background-color: rgba($color: $white, $alpha: 0.7);
}

.has-border-info {
  border-color: $info;
}

.has-background-hidden-mobile {
  @media (max-width: 768px) {
    background-image: none !important;

    .tile {
      box-shadow: none;
    }
  }
}

// Responsive
.is-hidden-mobile-only {
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.is-vertical-centered {
  display: flex;
  align-items: center;
}

// NAVBAR

#navbar-top {
  .navbar-burger,
  .navbar-burger:active,
  .navbar-burger:hover {
    color: $navbar-item-color;
  }
}

#navbar-bottom {
  .tabs,
  ul,
  li,
  a {
    min-height: 3.5rem;
  }

  // Fix for bottom navbar on iphone X
  @supports (-webkit-overflow-scrolling: touch) {
    .tabs,
    ul,
    li,
    a {
      min-height: 4.5rem;
    }
  }

  a.is-active {
    color: $light;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-body h1.title {
  text-shadow: 0 0 5px black;
}

// Main
#home-features {
  button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .tile.is-ancestor,
  .tile.is-parent {
    margin: 0;
    padding: 0;
  }

  .tile.is-ancestor {
    background: no-repeat center;
    background-size: cover;
  }
}
