<nav class="navbar" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
      <a class="navbar-item" asp-controller="home" asp-action="index">
         <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
   </div>
</nav>