@{
   var notifications = TempData["Notifications"] != null ? TempData["Notifications"] as IEnumerable<string> : new List<string>();
}

@if (notifications.Count() > 0)
{
   foreach (var notification in notifications)
   {
      <div class="notification is-warning">
         <button class="delete"></button>
         <span>@notification</span>
      </div>
   }
}