@{ 
   string controllerName = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
}
<aside class="menu">
   <p class="menu-label">General</p>
   <ul class="menu-list">
      <li><a asp-controller="category" asp-action="index" class="@(controllerName == "category" ? "is-active" : "")">Categories</a></li>
      <li><a asp-controller="product" asp-action="index" class="@(controllerName == "product" ? "is-active" : "")">Products</a></li>
   </ul>
</aside>