@{ 
   string currentController = ViewContext.RouteData.Values["controller"].ToString().ToLower();
   string currentAction = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
   <div class="mdc-drawer__content">
      <nav class="mdc-list">
         <a class="mdc-list-item @(currentController == "category" ? "mdc-list-item--activated" : "")" asp-controller="category" asp-action="index">
            <span class="mdc-list-item__text">Categories</span>
         </a>
         <a class="mdc-list-item  @(currentController == "product" ? "mdc-list-item--activated" : "")" asp-controller="product" asp-action="index">
            <span class="mdc-list-item__text">Products</span>
         </a>
         <a class="mdc-list-item  @(currentController == "user" ? "mdc-list-item--activated" : "")" asp-controller="user" asp-action="index">
            <span class="mdc-list-item__text">Users</span>
         </a>

         <hr class="mdc-list-divider">
         <h6 class="mdc-list-group__subheader">Labels</h6>
         <a class="mdc-list-item  @(currentController == "setting" ? "mdc-list-item--activated" : "")" asp-controller="setting" asp-action="index">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
            <span class="mdc-list-item__text">Settings</span>
         </a>
      </nav>
   </div>
</aside>
