<div class="field">
   @Html.LabelFor(m => m, new { @class = "label" })
   <div class="control">
      @Html.TextAreaFor(m => m, new { @class = "textarea", @rows = 5 })
   </div>
   <p class="help is-danger">@Html.ValidationMessageFor(m => m)</p>
</div>