<nav class="navbar is-fixed-bottom is-hidden-tablet has-background-primary" id="navbar-bottom">
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="is-active">
          <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
          <span class="is-size-7">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/menu" routerLinkActive="is-active">
          <span class="icon is-block"><i class="fas fa-hamburger" aria-hidden="true"></i></span>
          <span class="is-size-7">Menu</span>
        </a>
      </li>
      <li>
        <a routerLink="/kontakt" routerLinkActive="is-active">
          <span class="is-size-7">Kontakt</span>
          <span class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
