<div class="container-fluid" id="home" [@fadeInOut]>
  <app-hero size="is-fullheight" title="Pho84-Snack" titleXl="true"></app-hero>
  <section id="home-features">
    <div class="section has-text-centered">
      <h1 class="title has-text-info is-size-2">
        Entdecken Sie unsere Angebote
      </h1>
      <h2 class="subtitle has-text-info is-size-3"></h2>
    </div>
    <app-feature
      *ngFor="let feature of features; let i = index"
      [title]="feature.title"
      [subtitle]="feature.subtitle"
      [text]="feature.description"
      [buttonText]="feature.button"
      [buttonUrl]="feature.url"
      [image]="feature.image"
      [index]="i"
    ></app-feature>
  </section>
  <!-- <app-gallery limit="4" title="Das Pho84 Snack"></app-gallery> -->
</div>
