<div class="container is-hidden-tablet">
  <div class="card has-background-primary">
    <div class="card-content">
      <h1 class="title has-text-info">{{ title }}</h1>
      <h3 class="subtitle has-text-info">{{ subtitle }}</h3>
      <p class="has-text-white">{{ text }}</p>
      <div class="has-text-left" *ngIf="buttonText && buttonUrl" style="margin-top: 1rem;">
        <a [routerLink]="buttonUrl" class="button is-info">{{ buttonText }}</a>
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-16y9">
        <img [src]="image" />
      </figure>
    </div>
  </div>
</div>
<div class="columns is-gapless is-hidden-mobile-only">
  <div class="column has-background-image img-container" [style.backgroundImage]="backgroundImage" style="min-height: 50rem;">
    <div class="section has-background-primary-faded" [ngClass]="{ 'img-text-center-left': even, 'img-text-center-right': !even }">
      <article>
        <h1 class="title has-text-info">{{ title }}</h1>
        <h3 class="subtitle has-text-info">{{ subtitle }}</h3>
        <p class="has-text-white">{{ text }}</p>
        <div class="has-text-left" *ngIf="buttonText && buttonUrl" style="margin-top: 1rem;">
          <a [routerLink]="buttonUrl" class="button is-info">{{ buttonText }}</a>
        </div>
      </article>
    </div>
  </div>
</div>
