<section id="gallery">
  <div class="section" *ngIf="title">
    <h1 class="title is-size-2 has-text-centered has-text-success">{{ title }}</h1>
  </div>
  <div class="columns is-multiline is-gapless">
    <div
      *ngFor="let image of gallery; let i = index"
      class="has-background-image"
      [ngClass]="{ column: true, 'is-6': i | displayEven: gallery.length }"
      [style.backgroundImage]="background(image)"
      style="min-height:20rem;"
    >
      <!-- <figure class="image is-16by9" *ngIf="!offLimit(i)">
        <img [src]="image" />
      </figure> -->
    </div>
  </div>
</section>
