<section id="gallery">
  <div class="section" *ngIf="title">
    <h1 class="title is-size-2 has-text-centered has-text-info">{{ title }}</h1>
  </div>
  <div class="columns is-multiline is-gapless">
    <div
      *ngFor="let item of gallery; let i = index"
      class="column is-6 has-background-image img-container"
      [style.backgroundImage]="background(item.image)"
    >
      <div class="section img-text-bottom-right has-background-primary has-text-info has-text-centered" *ngIf="item.text">
        <span>{{ item.text }}</span>
      </div>
    </div>
  </div>
</section>
