<section class="hero is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item has-background-white" routerLink="">
            <img src="assets/icons/icon-512x512.png" height="100">
          </a>
        </div>

        <div id="navbar-menu-top" class="navbar-menu is-active is-hidden-mobile is-hidden-touch">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="menu" routerLinkActive="is-active">Menu</a>
            <a class="navbar-item" routerLink="kontakt" routerLinkActive="is-active">Kontakt</a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1 has-text-white has-text-weight-semibold">
        Pho84 Snack
      </h1>
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
</section>
<nav class="navbar is-fixed-bottom is-hidden-tablet is-paddingless">
  <div class="container-fluid is-paddingless">
    <div class="navbar-menu is-active is-paddingless">
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li>
            <a routerLink="home" routerLinkActive="is-active">
              <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a routerLink="menu" routerLinkActive="is-active">
              <span class="icon"><i class="fas fa-hamburger" aria-hidden="true"></i></span>
              <span>Menu</span>
            </a>
          </li>
          <li>
            <a routerLink="kontakt" routerLinkActive="is-active">
              <span>Kontakt</span>
              <span class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
