@{
   ViewData["Title"] = "Login";
}

<div class="section h-100">
   <div class="columns is-mobile is-centered is-vcentered h-100">
      <div class="column">
         <p class="bd-notification is-primary has-text-centered">
            <a class="button is-info" asp-controller="account" asp-action="loginexternal" asp-route-provider="Facebook">Login with Facebook</a>
         </p>
      </div>
   </div>
</div>
