<footer class="footer has-background-primary has-text-info">
  <div class="tile is-vertical is-ancestor">
    <div class="tile is-parent" id="footer-info">
      <div class="tile is-child">
        <p>PHO84 Snack</p>
      </div>
      <div class="tile is-child">
        <p>Öffnungzeiten</p>
        <p>Mo. : 12.00 - 18.00</p>
        <p>Di. - Fr.: 12.00 - 18.00</p>
        <p>Sa. & So. : 12.00 - 18.00</p>
      </div>
      <div class="tile is-child">
        <p>
          <span class="icon is-medium"><i class="fas fa-phone"></i></span>
          <span>+123456789</span>
        </p>
        <p>
          <span class="icon is-medium"><i class="fas fa-at"></i></span>
          <span>mail@mail.to</span>
        </p>
        <p>
          <span class="icon is-medium"><i class="fab fa-facebook"></i></span>
          <span>facebook link</span>
        </p>
      </div>
    </div>
    <div class="tile is-parent" id="footer-links" *ngIf="false">
      <div class="tile is-child">

      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child has-text-centered" id="footer-copyrights">
        <p class="is-size-7">
          © PHO84 SNACK 2019. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
