<footer class="footer has-background-primary has-text-info has-text-centered">
  <div class="columns">
    <div class="column is-4">
      <div class="content" id="footer-contact-info" *ngIf="contact">
        <h1 class="title has-text-info">{{ contact.name }}</h1>
        <p class="has-text-info">{{ contact.description }}</p>
      </div>
    </div>
    <div class="is-divider-vertical"></div>
    <div class="column is-4">
      <div class="content" id="footer-opening-hours">
        <h1 class="title has-text-info">Öffnungszeiten</h1>
        <p *ngFor="let hour of openHours">
          <span *ngIf="hour.close === true">{{ hour.day + " : geschlossen" }}</span>
          <span *ngIf="hour.close === false">{{ hour.day + " : " + hour.from + " - " + hour.to }} Uhr</span>
        </p>
      </div>
    </div>
    <div class="is-divider-vertical"></div>
    <div class="column is-4" id="footer-contact" *ngIf="contact">
      <p>
        <span class="icon is-medium"><i class="fas fa-map-marker-alt"></i></span>
        <span>{{ contact.address1 + ", " + contact.plz + " " + contact.city }}</span>
      </p>
      <p>
        <span class="icon is-medium"><i class="fas fa-phone"></i></span>
        <span>{{ contact.phone }}</span>
      </p>
      <p>
        <span class="icon is-medium"><i class="fas fa-at"></i></span>
        <span>{{ contact.email }}</span>
      </p>
      <p>
        <a [href]="contact.facebook" target="_blank" class="has-text-info">
          <span class="icon is-medium"><i class="fab fa-facebook"></i></span>
          <span>Like uns auf Facebook</span>
        </a>
      </p>
    </div>
  </div>
  <div class="content" id="footer-links"></div>
  <div class="content" id="footer-copyrights">
    <p class="is-size-7">© PHO84 SNACK 2019. All Rights Reserved.</p>
  </div>
</footer>
