@model Pho84SnackMVC.Models.ViewModels.ProductSizeViewModel

@{
   ViewData["Title"] = "Create Price";
}

<h1>CreatePrice</h1>

<h4>ProductPriceCreateViewModel</h4>
<hr />
<div class="row">
   <div class="col-md-4">
      <form asp-action="CreatePrice">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         @Html.HiddenFor(m => m.ProductId)
         <div class="form-group">
            <label asp-for="ProductSizeId" class="control-label"></label>
            <select asp-for="ProductSizeId" asp-items="@Model.AvailableSizes" class="form-control chosen-select">
               <option value="" selected></option>
            </select>
            <span asp-validation-for="ProductSizeId" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
         </div>
         <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
         </div>
      </form>
   </div>
</div>

<div>
   <a asp-action="Index">Back to List</a>
</div>

