@charset "utf-8";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Update Bulma's global variables
$primary: #211B1D;

@import "bulma";

#body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

#main {
   flex: 1;
}