@model Pho84SnackMVC.Models.Category
@{

}
<form class="panel-block" asp-controller="category" asp-action="create">
   <div class="field has-addons is-fullwidth" style="margin-bottom: 0px;">
      <div class="control is-expanded">
         <input class="input is-fullwidth" type="text" placeholder="Add new category" asp-for="Name">
      </div>
      <div class="control">
         <button type="submit" class="button is-primary">
            <span class="icon">
               <span class="oi" data-glyph="plus"></span>
            </span>
         </button>
      </div>
   </div>
</form>
