@model Pho84SnackMVC.Models.Category
@{
   bool edit = bool.TryParse(ViewBag.Edit?.ToString(), out edit) && edit;
}
<form class="section is-static" asp-controller="category" asp-action="edit">
   <fieldset>
      @Html.HiddenFor(m => m.Id)
      <div class="field is-horizontal">
         <div class="field-label is-normal">
            <label class="label" asp-for="Name"></label>
         </div>
         <div class="field-body">
            <div class="field">
               <div class="control">
                  <input class="input" type="text" asp-for="Name" readonly>
               </div>
               <p class="help is-danger"><span asp-validation-for="Name"></span></p>
            </div>
           
         </div>
      </div>

      <div class="field is-horizontal">
         <div class="field-label is-normal">
            <label class="label" asp-for="Description"></label>
         </div>
         <div class="field-body">
            <div class="field">
               <div class="control">
                  <textarea class="textarea is-static" asp-for="Description" readonly></textarea>
               </div>
               <p class="help is-danger"><span asp-validation-for="Description"></span></p>
            </div>
         </div>
      </div>
   </fieldset>

   <div class="field is-horizontal">
      <div class="field-label">
         <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
         <div class="field">
            <div class="control">
               <div class="buttons">
                  <button type="submit" class="button is-primary is-hidden">
                     <span class="icon is-small"><i class="fas fa-save"></i></span>
                     <span>Save</span>
                  </button>
                  <button type="button" class="button is-primary" onclick="enableEdit(this)">
                     <span class="icon is-small"><i class="fas fa-pen"></i></span>
                     <span>Edit</span>
                  </button>
                  <a class="button is-light" asp-controller="category" asp-action="index">Back to list</a>
               </div>
            </div>
         </div>
      </div>
   </div>

</form>