@model IEnumerable<Pho84SnackMVC.Models.Category>
@{
   ViewData["Title"] = "Categories";
   ViewData["NavbarTitle"] = "Categories";
}

<div class="panel">
   <p class="panel-heading">Categories</p>
   <div class="panel-block">
      <p class="control has-icons-left">
         <input class="input input-autocomplete" type="text" placeholder="Search">
         <span class="icon is-left">
            <i class="fas fa-search"></i>
         </span>
      </p>
   </div>
   @if (Model.Count() > 0)
   {
      @foreach (Category category in Model)
      {
         <a class="panel-block output-autocomplete" asp-controller="category" asp-action="details" asp-route-id="@category.Id">@category.Name</a>
      }
   }
   else
   {
      <a class="panel-block">
         <span class="panel-icon">
            <i class="fas fa-exclamation-circle"></i>
         </span>
         No category found
      </a>
   }
</div>




