@model IEnumerable<Pho84SnackMVC.Models.Category>
@{
   ViewData["Title"] = "Categories";
   ViewData["NavbarTitle"] = "Categories";
}

<div class="panel">
   <p class="panel-heading">Categories</p>
   <form class="panel-block" asp-controller="category" asp-action="create">
      <div class="field has-addons is-fullwidth" style="margin-bottom: 0px;">
         <div class="control is-expanded">
            <input class="input is-fullwidth" type="text" placeholder="Add new category" name="Name">
         </div>
         <div class="control">
            <button type="submit" class="button is-primary">
               <span class="icon">
                  <i class="fas fa-plus"></i>
               </span>
            </button>
         </div>
      </div>
   </form>
   <div class="panel-block">
      <p class="control has-icons-left">
         <input class="input input-autocomplete" type="text" placeholder="Search">
         <span class="icon is-left">
            <i class="fas fa-search"></i>
         </span>
      </p>
   </div>
   @if (Model.Count() > 0)
   {
      @foreach (Category category in Model)
      {
         <a class="panel-block output-autocomplete" asp-controller="category" asp-action="details" asp-route-id="@category.Id">@category.Name</a>
      }
   }
   else
   {
      <a class="panel-block">
         <span class="panel-icon">
            <i class="fas fa-exclamation-circle"></i>
         </span>
         No category found
      </a>
   }
</div>

