@model IEnumerable<Pho84SnackMVC.Models.Category>
@{
   ViewData["Title"] = "Categories";
   ViewData["NavbarTitle"] = "Categories";
}
<div class="collection">
   <ul class="mdc-list">
      @if (Model.Count() > 0)
      {
         @foreach (Category category in Model)
         {
            <li class="mdc-list-item" tabindex="0">
               <span class="mdc-list-item__text">Single-line item</span>
            </li>
         }
      }
      else
      {
         <li class="mdc-list-item" tabindex="0">
            <span class="mdc-list-item__text">Single-line item</span>
         </li>
      }
   </ul>
</div>




