@model IEnumerable<Pho84SnackMVC.Models.Category>
@{
   ViewData["Title"] = "Index";
}
<div class="level">
   <div class="level-left">
      <div class="level-item">
         <span class="title">All Categories</span>
      </div>
   </div>
   <div class="level-right">
      <div class="level-item">
         <a class="button is-info is-small is-pulled-right" asp-action="create">
            <span class="icon"><i class="fas fa-plus"></i></span>
         </a>
      </div>
   </div>
</div>
<div style="margin-top: 10px;">
   @if (Model.Count() == 0)
   {
      <p class="has-text-centered">No item found</p>
   }
   else
   {
      <div class="list is-hoverable">
         @foreach (var category in Model)
         {
            <a class="list-item" asp-action="details" asp-route-id="@category.Id">@category.Name</a>
         }
      </div>
   }
</div>


