@model IEnumerable<Pho84SnackMVC.Models.AppUser>
@{
   ViewData["Title"] = "Users";
   ViewData["NavbarTitle"] = "Users";
}

<div class="panel">
   <p class="panel-heading">Users</p>
   <div class="panel-block">
      <div class="field has-addons is-fullwidth">
         <div class="control is-expanded has-icons-left">
            <input class="input input-autocomplete" type="text" placeholder="Search">
            <span class="icon is-left">
               <span class="oi" data-glyph="magnifying-glass"></span>
            </span>
         </div>
         <div class="control">
            <span class="select">
               <select class="filter-select">
                  <option>All</option>
                  <option>Activated</option>
                  <option>Not activated</option>
               </select>
            </span>
         </div>
      </div>
   </div>
   @if (Model.Count() > 0)
   {
      @foreach (AppUser appUser in Model)
      {
         <a class="panel-block output-autocomplete" asp-controller="user" asp-action="edit" asp-route-id="@appUser.Id" data-activated="@appUser.Active">@appUser.Firstname @appUser.Lastname</a>
      }
   }
   else
   {
      <a class="panel-block">
         <span class="panel-icon">
            <i class="fas fa-exclamation-circle"></i>
         </span>
         No user found
      </a>
   }
</div>

