@charset "utf-8";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Muli");

// Brand colours
// $primary: #bcc0c6;
$primary: #211b1d;
$info: #dd6c08;
$info-light: #f78620;
$success: #00a654;
$success-light: #00cc66;
$light: white;
$primary-light: grey;

$screen-sm: 768px;

// Colours overrides
$family-sans-serif: "Muli", serif;

// Navbar
$navbar-background-color: $primary;
$navbar-item-img-max-height: 3rem;
$navbar-item-color: $info;
$navbar-item-hover-color: $light;
$navbar-item-active-color: $light;
$navbar-item-hover-background-color: $info;
$navbar-item-active-background-color: $info;
$navbar-dropdown-background-color: $info;
$navbar-dropdown-item-active-background-color: $info;
$navbar-dropdown-item-hover-background-color: $info;

// Bottom Navbar
$tabs-link-color: $primary-light;
$tabs-link-hover-color: $success;
$tabs-link-active-color: $success;
$tabs-toggle-link-border-width: 0px;
$tabs-toggle-link-hover-background-color: $primary;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-color: $success;

// Divider
$divider-color: $info;
$divider-background-color: $info;

// Card
$card-background-color: $primary;
$card-shadow: none;

// Table
$table-background-color: $primary;
$table-cell-border: 1px solid $info;
$table-cell-heading-color: $info;
$table-head-cell-color: $info;
$table-color: $info;

@import "../../node_modules/bulma/bulma.sass";

@import "../../node_modules/bulma-extensions/bulma-divider/src/sass/index.sass";

// All
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.has-background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.has-background-primary-faded {
  background-color: rgba($color: $primary, $alpha: 0.9);
}

.has-background-info-faded {
  background-color: rgba($color: $info, $alpha: 0.9);
}

.has-background-white-faded {
  background-color: rgba($color: $white, $alpha: 0.9);
}

.background-fixed {
  @media (min-width: 768px) {
    background-attachment: fixed;
  }
}

.has-border-info {
  border-color: $success;
}

.has-background-hidden-mobile {
  @media (max-width: 768px) {
    background-image: none !important;

    .tile {
      box-shadow: none;
    }
  }
}

.has-text-info-light {
  color: $info-light;
}

.has-text-success-light {
  color: $success-light;
}

// Responsive
.is-hidden-mobile-only {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.is-vertical-centered {
  display: flex;
  align-items: center;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.price-col {
  width: 3vw !important;
}

.is-size-xl {
  font-size: 5.5rem !important;
}

.mh-50 {
  min-height: 50rem !important;
}

.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

// NAVBAR

#navbar-top {
  .navbar-burger,
  .navbar-burger:active,
  .navbar-burger:hover {
    color: $navbar-item-color;
  }
}

#navbar-bottom {
  .tabs,
  ul,
  li,
  a {
    min-height: 3.5rem;
  }

  // Fix for bottom navbar on iphone X
  @supports (-webkit-overflow-scrolling: touch) {
    .tabs,
    ul,
    li,
    a {
      min-height: 4.5rem;
    }
  }

  a.is-active {
    color: $success;
  }
}

.hero-body h1.title {
  text-shadow: 0 0 5px black;
}

// Text over image
.img-container {
  position: relative;
  min-height: 20rem;
}

.img-text-bottom-left {
  position: absolute;
  left: 5%;
  top: 50%;
  right: 60%;
}

.img-text-bottom-right {
  position: absolute;
  right: 5%;
  top: 50%;
  left: 60%;
}

.img-text-center-left {
  position: absolute;
  left: 5%;
  top: 25%;
  right: 60%;
}

.img-text-center-right {
  position: absolute;
  right: 5%;
  top: 25%;
  left: 60%;
}

// Home
#home {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/assets/images/home.jpg);
    // background-image: url(/assets/images/home.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

// Essen
#essen {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/assets/images/essen.jpg);
    // background-image: url(/assets/images/essen.jpg);
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

// Trinken
#trinken {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/assets/images/trinken.jpg);
    // background-image: url(/assets/images/trinken.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

// Contact
#contact {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/assets/images/contact.jpg);
    // background-image: url(/assets/images/contact.jpg);
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
